body {
    background: #003399;
    color: white;
    font-size: 3em;
    width: 100vw;
}

.container{
    width: 100vw !important;
    padding: 0 !important;
}

#visual{
    height: 100vh;
    width: 100vw;
    position:fixed;
    margin-left: 25%;
    z-index: -10;
}

#rusFlag {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    margin: 0 auto;
}



/********Animations*********/
.mainHeadImg {
    animation-duration: 2s;
    animation-name: fadeAnim;
}

@keyframes fadeAnim {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
/***************************/
