.leftHeaderBtn {
    border-bottom-left-radius: 25px;
    border-right: 1px solid black;
    box-shadow: -2px 2px 5px black;
    text-shadow: 1px 1px 2px black;
}
    .leftHeaderBtn:hover {
        animation: colorRotate 6s linear 0s infinite;
        text-shadow: 0px 0px 2px black;
    }

.midHeaderBtn {
    box-shadow: 0px 2px 5px black;
    text-shadow: 1px 1px 2px black;
}

.rightHeaderBtn {
    border-bottom-right-radius: 25px;
    border-left: 1px solid black;
    box-shadow: 2px 2px 5px black;
    text-shadow: 1px 1px 2px black;
}

.skillsHeader {
    animation-duration: 0.7s;
    animation-name: dropDown;
    animation-timing-function: ease;
}

/********React Anim.*********/
.techItem-enter {
  opacity: 0.01;
}
.techItem-enter.techItem-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.techItem-leave {
  opacity: 1;
}
.techItem-leave.techItem-leave-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}
/****************************/

/********Animations*********/
@keyframes dropDown {
    0% { margin-top: -100%; }
    100% { margin-top: 0%; }
}
@keyframes colorRotate {
    from {
        background-color: rgb(255, 0, 0);
    }
    16.6% {
        background-color: rgb(255, 0, 255);
    }
    33.3% {
        background-color: rgb(0, 0, 255);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    66.6% {
        background-color: rgb(0, 255, 0);
    }
    83.3% {
        background-color: rgb(255, 255, 0);
    }
    to {
        background-color: rgb(255, 0, 0);
    }
}
@keyframes slideUp {
    0% { margin-bottom: 100vh; }
    100% { margin-bottom: 0; }
}
@keyframes slideIn {
    0% { margin-left: 100vw; }
    100% { left: 0; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    10% { opacity: 0.1; }
    20% { opacity: 0.2; }
    30% { opacity: 0.3; }
    40% { opacity: 0.4; }
    50% { opacity: 0.5; }
    60% { opacity: 0.6; }
    70% { opacity: 0.7; }
    80% { opacity: 0.8; }
    90% { opacity: 0.9; }
    100% { opacity: 1; }
}
/***************************/
