.leftHeaderBtn {
    border-bottom-left-radius: 25px;
    border-right: 1px solid black;
    box-shadow: -2px 2px 5px black;
    text-shadow: 1px 1px 2px black;
}
    .leftHeaderBtn:hover {
        animation: colorRotate 6s linear 0s infinite;
        text-shadow: 0px 0px 2px black;
    }

.midHeaderBtn {
    box-shadow: 0px 2px 5px black;
    text-shadow: 1px 1px 2px black;
}

.rightHeaderBtn {
    border-bottom-right-radius: 25px;
    border-left: 1px solid black;
    box-shadow: 2px 2px 5px black;
    text-shadow: 1px 1px 2px black;
}

.skillsHeader {
    animation-duration: 0.7s;
    animation-name: dropDown;
    animation-timing-function: ease;
}

/********Animations*********/
@keyframes dropDown {
    0% { margin-top: -100%; }
    100% { margin-top: 0%; }
}
@keyframes colorRotate {
    from {
        background-color: rgb(255, 0, 0);
    }
    16.6% {
        background-color: rgb(255, 0, 255);
    }
    33.3% {
        background-color: rgb(0, 0, 255);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    66.6% {
        background-color: rgb(0, 255, 0);
    }
    83.3% {
        background-color: rgb(255, 255, 0);
    }
    to {
        background-color: rgb(255, 0, 0);
    }
}
/***************************/
